:root {
  --title-color: #212121;
  --main-color: #757575;
  --accent-color: #2196f3;
  --footer-color: rgba(255, 255, 255, 0.6);
  --white-text-color: #ffffff;
  --background-dark-color: #2f303a;
  --background-primary-color: #ffffff;
  --background-second-color: #f5f4fa;
  --btn-hover: #188ce8;
  --fill-icon-color: #afb1b8;
  --cubic-beizer-hover: cubic-bezier(0.4, 0, 0.2, 1);
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--background-primary-color);
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  display: block;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--dark {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo__span--dark {
  color: var(--title-color);
}

.logo--light {
  margin-left: auto;
  margin-bottom: 20px;
}

.logo__span--light {
  color: var(--white-text-color);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms var(--cubic-beizer-hover);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.social-list__icon--light {
  fill: var(--fill-icon-color);
  transition: fill 250ms var(--cubic-beizer-hover);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--white-text-color);
}

.social-list__icon--dark {
  fill: var(--white-text-color);
}

.social-list__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu__list {
  display: flex;
  align-items: center;
}

.nav-menu__item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic-beizer-hover);
}

.nav-menu__link:hover,
.nav-menu__link:focus {
  color: var(--accent-color);
}

.nave-menu__link--active {
  position: relative;
  color: var(--accent-color);
}

.nave-menu__link--active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-header__item:not(:last-child) {
  margin-right: 50px;
}

.contact-header__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic-beizer-hover);
}

.contact-header__link:focus,
.contact-header__link:hover {
  color: var(--accent-color);
}

.contact-header__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms var(--cubic-beizer-hover);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-dark-color);
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroundimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__title {
  margin-bottom: 30px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  font-family: inherit;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--cubic-beizer-hover);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--btn-hover);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list__bgr {
  display: flex;
  justify-content: center;
  background-color: var(--background-second-color);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.features-list__item {
  width: calc((100% - 90px) / 4);
}

.features-list__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.features-list__content {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.work {
  padding-top: 0;
}

.work__title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.work__list {
  display: flex;
}

.work__item {
  width: calc((100% - 60px) / 3);
}

.work__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work__thumb {
  position: relative;
}

.work__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--background-second-color);
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list__item {
  width: calc((100% - 90px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-list__container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--background-primary-color);
}

.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-list__content {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.clients__item {
  width: calc((100% - 150px) / 6);
}

.clients__item:not(:nth-child(6n)) {
  margin-right: 30px;
}

.clents__link {
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: center;
  display: flex;
  border: 1px solid var(--fill-icon-color);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic-beizer-hover);
}

.clients__icon {
  fill: var(--fill-icon-color);
  transition: fill 250ms var(--cubic-beizer-hover);
}

.clents__link:focus,
.clents__link:hover {
  border-color: var(--accent-color);
  outline: none;
}

.clents__link:hover .clients__icon,
.clents__link:focus .clients__icon {
  fill: var(--accent-color);
}

.filter-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-menu__item:not(:last-child) {
  margin-right: 8px;
}

.filter-menu__btn {
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--background-second-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms var(--cubic-beizer-hover), box-shadow 250ms var(--cubic-beizer-hover), color 250ms var(--cubic-beizer-hover);
}

.filter-menu__btn:hover,
.filter-menu__btn:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-text-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects__item {
  width: calc((100% - 60px) / 3);
}

.projects__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.projects__link {
  display: block;
  transition: box-shadow 250ms var(--cubic-beizer-hover);
}

.projects__link:focus,
.projects__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.projects__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.projects__container {
  padding: 20px 24px;
  background-color: var(--background-primary-color);
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--cubic-beizer-hover);
}

.overlay__content {
  width: 322px;
  height: auto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.projects__link:focus .overlay,
.projects__link:hover .overlay {
  transform: translateY(0%);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dark-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__left {
  flex-grow: 1;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  display: block;
  color: var(--footer-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: color 250ms var(--cubic-beizer-hover);
}

.address__link--geolocation {
  color: var(--white-text-color);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.join {
  margin-left: 70px;
}

.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-form {
  margin-left: 93px;
}

.footer-form__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-form__wrap {
  display: flex;
  align-items: center;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.footer-form__input::placeholder {
  color: var(--footer-color);
}

.footer-form__btn {
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--cubic-beizer-hover);
}

.footer-form__btn:focus,
.footer-form__btn:hover {
  background-color: var(--btn-hover);
}

.footer-form__icon {
  fill: var(--white-text-color);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--cubic-beizer-hover), visibility 250ms var(--cubic-beizer-hover);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--background-primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--cubic-beizer-hover), opacity 250ms var(--cubic-beizer-hover), visibility 250ms var(--cubic-beizer-hover);
}

.backdrop.is-hidden .backdrop__modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  visibility: hidden;
}

.btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-close__icon {
  fill: #000000;
  transition: fill 250ms var(--cubic-beizer-hover);
}

.btn-close:focus .btn-close__icon,
.btn-close:hover .btn-close__icon {
  fill: var(--accent-color);
}

.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  text-align: center;
  color: var(--title-color);
}

.label-contact {
  margin-bottom: 10px;
}

.label-contact__name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.label-contact__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: var(--main-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic-beizer-hover);
}

.label-contact__input:focus,
.label-comentary__textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.label-contact__wrap {
  display: block;
  position: relative;
}

.label-contact__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-color);
  transition: fill 250ms var(--cubic-beizer-hover);
}

.label-contact__input:focus + .label-contact__icon {
  fill: var(--accent-color);
}

.label-comentary {
  margin-bottom: 20px;
}

.label-comentary__textarea {
  display: block;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms var(--cubic-beizer-hover);
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.label-comentary__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label-checkbox__icon {
  border: 2px solid var(--title-color);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic-beizer-hover), border 250ms var(--cubic-beizer-hover);
}

.label-checkbox__input:checked + .label-checkbox .label-checkbox__icon {
  background-color: var(--accent-color);
  border: none;
}

.label-checkbox__input:focus + .label-checkbox .label-checkbox__icon {
  border: 2px solid var(--accent-color);
}

.label-checkbox__input:checked.label-checkbox__input:focus + .label-checkbox .label-checkbox__icon {
  border: none;
}

.label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.agreement {
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  margin-left: 8px;
  color: var(--main-color);
}

.agreement__link {
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form__btn {
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--cubic-beizer-hover);
}

.modal-form__btn:focus,
.modal-form__btn:hover {
  background-color: var(--btn-hover);
}/*# sourceMappingURL=main.css.map */