.clients__title {
  margin-bottom: 50px;
  @include font(700, 36px, 42px);
  letter-spacing: 0.03em;
  text-align: center;
  color: $title-color;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.clients__item {
  width: calc((100% - 150px) / 6);
  &:not(:nth-child(6n)) {
    margin-right: 30px;
  }
}

.clents__link {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid $fill-icon-color;
  border-radius: 4px;
  transition: border-color 250ms $cubic-beizer-hover;
  &:focus,
  &:hover {
    border-color: $accent-color;
    outline: none;
  }
}
.clients__icon {
  fill: $fill-icon-color;
  transition: fill 250ms $cubic-beizer-hover;
  .clents__link:hover &,
  .clents__link:focus & {
    fill: $accent-color;
  }
}
