.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dark-color);
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__left {
  flex-grow: 1;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  display: block;
  color: var(--footer-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: color 250ms var(--cubic-beizer-hover);
}
.address__link--geolocation {
  color: var(--white-text-color);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.join {
  margin-left: 70px;
}
.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-form {
  margin-left: 93px;
}
.footer-form__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.footer-form__wrap {
  display: flex;
  align-items: center;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.footer-form__input::placeholder {
  color: var(--footer-color);
}
.footer-form__btn {
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--cubic-beizer-hover);
}

.footer-form__btn:focus,
.footer-form__btn:hover {
  background-color: var(--btn-hover);
}
.footer-form__icon {
  fill: var(--white-text-color);
  margin-left: 10px;
}
