.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu__list {
  display: flex;
  align-items: center;
}

.nav-menu__item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic-beizer-hover);
}
.nav-menu__link:hover,
.nav-menu__link:focus {
  color: var(--accent-color);
}
.nave-menu__link--active {
  position: relative;
  color: var(--accent-color);
}
.nave-menu__link--active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.contact-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-header__item:not(:last-child) {
  margin-right: 50px;
}
.contact-header__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic-beizer-hover);
}
.contact-header__link:focus,
.contact-header__link:hover {
  color: var(--accent-color);
}
.contact-header__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms var(--cubic-beizer-hover);
}
