.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  text-align: center;
  color: var(--title-color);
}
.label-contact {
  margin-bottom: 10px;
}
.label-contact__name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.label-contact__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: var(--main-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic-beizer-hover);
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.label-contact__wrap {
  display: block;
  position: relative;
}
.label-contact__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-color);
  transition: fill 250ms var(--cubic-beizer-hover);
  .label-contact__input:focus + & {
    fill: var(--accent-color);
  }
}

.label-comentary {
  margin-bottom: 20px;
}
.label-comentary__textarea {
  display: block;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms var(--cubic-beizer-hover);
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: var(--main-color);
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.label-checkbox__icon {
  border: 2px solid var(--title-color);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic-beizer-hover),
    border 250ms var(--cubic-beizer-hover);
  .label-checkbox__input:checked + .label-checkbox & {
    background-color: var(--accent-color);
    border: none;
  }
  .label-checkbox__input:focus + .label-checkbox & {
    border: 2px solid var(--accent-color);
  }
  .label-checkbox__input:checked.label-checkbox__input:focus + .label-checkbox & {
    border: none;
  }
}

.agreement {
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  margin-left: 8px;
  color: var(--main-color);
}
.agreement__link {
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
}
.modal-form__btn {
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--cubic-beizer-hover);
  &:focus,
  &:hover {
    background-color: var(--btn-hover);
  }
}
