.projects {
  display: flex;
  flex-wrap: wrap;
}
.projects__item {
  width: calc((100% - 60px) / 3);
  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.projects__link {
  display: block;
  transition: box-shadow 250ms var(--cubic-beizer-hover);
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.projects__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.projects__container {
  padding: 20px 24px;
  background-color: var(--background-primary-color);
  border: 1px solid #eeeeee;
  border-top: none;
}
.projects__thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--cubic-beizer-hover);
  .projects__link:focus &,
  .projects__link:hover & {
    transform: translateY(0%);
  }
}
.overlay__content {
  width: 322px;
  height: auto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
